CommonMark.dtd

<!-- DTD for CommonMark xml export format -->
<!ELEMENT document
(block_quote|list|code_block|html|paragraph|header|hrule)*>
<!ELEMENT block_quote
(block_quote|list|code_block|html|paragraph|header|hrule)*>
<!ELEMENT list (item)+>
<!ATTLIST list
          type (bullet|ordered) #REQUIRED
          start CDATA #IMPLIED
          tight (true|false) #REQUIRED
          delimiter (period|paren) #IMPLIED>
<!ELEMENT item
(block_quote|list|code_block|html|paragraph|header|hrule)*>
<!ELEMENT code_block (#PCDATA)>
<!ATTLIST code_block
          xml:space CDATA #FIXED "preserve"
          info CDATA #IMPLIED>
<!ELEMENT html (#PCDATA)>
<!ATTLIST html xml:space CDATA #FIXED "preserve">
<!ELEMENT paragraph
(text|softbreak|linebreak|code|inline_html|emph|strong|link|image)*>
<!ELEMENT header
(text|softbreak|linebreak|code|inline_html|emph|strong|link|image)*>
<!ATTLIST header level (1|2|3|4|5|6) #REQUIRED>
<!ELEMENT hrule EMPTY>
<!ELEMENT text (#PCDATA)>
<!ELEMENT softbreak EMPTY>
<!ELEMENT linebreak EMPTY>
<!ELEMENT code (#PCDATA)>
<!ATTLIST code xml:space CDATA #FIXED "preserve">
<!ELEMENT inline_html (#PCDATA)>
<!ATTLIST inline_html xml:space CDATA #FIXED "preserve">
<!ELEMENT emph
(text|softbreak|linebreak|code|inline_html|emph|strong|link|image)*>
<!ELEMENT strong
(text|softbreak|linebreak|code|inline_html|emph|strong|link|image)*>
<!ELEMENT link
(text|softbreak|linebreak|code|inline_html|emph|strong|link|image)*>
<!ATTLIST link Url CDATA #REQUIRED>
<!ATTLIST link Title CDATA #IMPLIED>
<!ELEMENT image
(text|softbreak|linebreak|code|inline_html|emph|strong|link|image)*>
<!ATTLIST image url CDATA #REQUIRED>
<!ATTLIST image title CDATA #IMPLIED>
<!ATTLIST ANY sourcepos CDATA #IMPLIED>
