CommonMark.dtd

<!-- DTD for CommonMark xml export format -->
<!ELEMENT DOCUMENT
(BLOCK_QUOTE|LIST|CODE_BLOCK|HTML|PARAGRAPH|HEADER|HRULE)*>
<!ELEMENT BLOCK_QUOTE
(BLOCK_QUOTE|LIST|CODE_BLOCK|HTML|PARAGRAPH|HEADER|HRULE)*>
<!ELEMENT LIST (LIST_ITEM)+>
<!ATTLIST LIST
          type (bullet|ordered) #REQUIRED
          start CDATA #IMPLIED
          tight (true|false) #REQUIRED
          delimiter (period|paren) #IMPLIED>
<!ELEMENT LIST_ITEM
(BLOCK_QUOTE|LIST|CODE_BLOCK|HTML|PARAGRAPH|HEADER|HRULE)*>
<!ELEMENT CODE_BLOCK (#PCDATA)>
<!ATTLIST CODE_BLOCK
          xml:space CDATA #FIXED "preserve"
          info CDATA #IMPLIED>
<!ELEMENT HTML (#PCDATA)>
<!ATTLIST HTML xml:space CDATA #FIXED "preserve">
<!ELEMENT PARAGRAPH
(TEXT|SOFTBREAK|LINEBREAK|CODE|INLINE_HTML|EMPH|STRONG|LINK|IMAGE)*>
<!ELEMENT HEADER
(TEXT|SOFTBREAK|LINEBREAK|CODE|INLINE_HTML|EMPH|STRONG|LINK|IMAGE)*>
<!ATTLIST HEADER level (1|2|3|4|5|6) #REQUIRED>
<!ELEMENT HRULE EMPTY>
<!ELEMENT TEXT (#PCDATA)>
<!ELEMENT SOFTBREAK EMPTY>
<!ELEMENT LINEBREAK EMPTY>
<!ELEMENT CODE (#PCDATA)>
<!ATTLIST CODE xml:space CDATA #FIXED "preserve">
<!ELEMENT INLINE_HTML (#PCDATA)>
<!ATTLIST INLINE_HTML xml:space CDATA #FIXED "preserve">
<!ELEMENT EMPH
(TEXT|SOFTBREAK|LINEBREAK|CODE|INLINE_HTML|EMPH|STRONG|LINK|IMAGE)*>
<!ELEMENT STRONG
(TEXT|SOFTBREAK|LINEBREAK|CODE|INLINE_HTML|EMPH|STRONG|LINK|IMAGE)*>
<!ELEMENT LINK
(TEXT|SOFTBREAK|LINEBREAK|CODE|INLINE_HTML|EMPH|STRONG|LINK|IMAGE)*>
<!ATTLIST LINK url CDATA #REQUIRED>
<!ATTLIST LINK title CDATA #IMPLIED>
<!ELEMENT IMAGE
(TEXT|SOFTBREAK|LINEBREAK|CODE|INLINE_HTML|EMPH|STRONG|LINK|IMAGE)*>
<!ATTLIST IMAGE url CDATA #REQUIRED>
<!ATTLIST IMAGE title CDATA #IMPLIED>
<!ATTLIST ANY sourcepos CDATA #IMPLIED>
